<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projet_cleder_resolution">

    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Projet_cleder_resolution">


        <activity
            android:name=".FinQuestion"
            android:label="@string/title_activity_fin_question">

        </activity>
        <activity
            android:name=".EntrerBR"
            android:label="@string/title_activity_entrer_b_r" />
        <activity
            android:name=".remplir_fiche"
            android:label="remplirFiche" />
        <activity
            android:name=".AjoutResolution"
            android:parentActivityName=".accueil" />
        <activity
            android:name=".GraphActivity"
            android:parentActivityName=".accueil" />
        <activity
            android:name=".Settings"
            android:parentActivityName=".accueil" />
        <activity
            android:name=".Resolution1"
            android:parentActivityName=".accueil" />
        <activity
            android:name=".modifier_bonne_resolution"
            android:parentActivityName=".Resolution1" />
        <activity android:name=".accueil">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>